<html>
    <head>
        <title>Portal News</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <div class="center">
                <div class="logo">
                    <h2><a href="/"><span style="font-weight: lighter;">Portal</span><b>News</b></a></h2>
                </div> <!--logo-->
                <div class="form-busca">
                    <form action="/">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" placeholder="Busca..." name="busca">
                    </form>
                </div> <!--formbusca-->
            </div> <!--center-->
        </header>